<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PersoGenius</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="PersoGenius" />
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest" />
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" href="/">PersoGenius</a>
      </div>
    </header>
    <main>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <footer class="site-footer">
      <div class="wrapper">
        <p> <a id="privacy-link" href="/privacy">Privacy</a> | <a id="github-link" href="https://github.com/inwerk/persogenius.de#persogenius.de" target="_blank">GitHub</a></p>
        <p id="copyright">&copy; 2024 by inwerk</p>
      </div>
    </footer>
    <script type="text/javascript" src="/assets/js/script.js" defer></script>
  </body>
</html>
